.eef-section {
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  padding: 6rem 6rem 6rem 6rem;
}

.eef-section-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.eef-section-container > * {
  flex: 1;
}

.eef-section-text {
  justify-content: flex-start;
}

.eef-section-text p {
  max-width: 900px;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.eef-img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.eef-img img {
  max-width: 592px;
  max-height: 592px;
  min-height: 592px;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (max-width: 1440px) {
  .eef-img img {
    max-width: 555px;
    max-height: 555px;
    min-height: 555px;
  }
}

@media (max-width: 1280px) {
  .eef-section {
    padding: 4rem 4rem 4rem 4rem;
  }

  .eef-img {
    align-items: flex-start;
  }

  .eef-img img {
    max-width: 393px;
    max-height: 393px;
    min-height: 393px;
  }
}

@media (max-width: 1000px) {
  .eef-section {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .eef-section-container {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 1.5rem;
  }

  .eef-img {
    justify-content: flex-start;
  }

  .eef-img img {
    height: 393px;
  }
}

@media (max-width: 768px) {
  .eef-section-container > .eef-section-text h2,
  .eef-section-container > .eef-section-text p {
    max-width: 618px;
  }
}

@media (max-width: 489px) {
  .eef-section {
    margin: 0 0.5rem 0 0.5rem;
    padding: 1rem 1rem 1rem 1rem;
  }

  .eef-img img {
    max-width: 256px;
    max-height: 256px;
    min-height: 256px;
  }
}
